*{
    
      
    background-color: yellow;
     margin: 100px;
   
    

   
    




}
    
div{
    height: 10vh;


   
    
  
}
h1{
    padding: 0px;

}
h3{
    padding:0px;
    

}
p{
    padding: 0px;

}