*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://img.magnific.com/free-vector/dark-gradient-hexagonal-background_52683-63120.jpg?semt=ais_hybrid&w=740&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    
}
.calculator{
    width: 400px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    background: transparent;
    border-radius: 15px;
}
input{
    width: 100%;
    height: 60px;
    background: transparent;
    outline :none;
    border: none;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
      color: white;
      font-size: 25px;
      padding: 15px;
      margin: bottom 20px; ;
      cursor: pointer;



}
input ::placeholder{
    font-size: 25px;
    color: white;
    text-align: right;

}
button{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: transparent;
    border: none;
    color: white;
    font-size: 25px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    margin: 10px 5px;
    cursor: pointer;


}
.hanzala{
    background-color: rgb(190, 135, 31);

}
.opretor{
    color: greenyellow;
}
    
    
    

    


